html, body {
    margin: 0 auto;
    padding: 0;
    
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    background-color: #F5F5F5;
}

header, section {
    background: #fff;
}

header {
    border-bottom: 1px solid #c6c6c6;
}

.content {
    width: 375px;
    background-color: #EDEDED;
    margin: 0 auto;
}

.container {
    padding: 10px;
}

.content .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.image-name-location,
.likes-comments {
    display: flex;
}

.container.image-name-location {
    justify-content: flex-start;
}

.name, .likes, .username {
    font-weight: bold;
}

.location {
    font-weight: normal;
}

.likes-comments {
    flex-direction: column;
}

.name-location {
    margin-left: 10px;
}

.individual-post header {
    display: flex;
}

.img-logo {
    width: 127px;
}

.img-user {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    align-self: center;
    /* padding: 10px; */
}

.post img {
    width: 100%;
}

.icons img {
    height: 24px;
    margin-right: 10px;
    margin-top: 7px;
    margin-bottom: 0;
}

.likes-comments {
    margin-bottom: 20px;
}

.likes p {
    margin-bottom: 0;
}

